# Heart Disease Database Analysis Project



## Introduction



This project aims to explore and analyze a comprehensive database of heart patients, combining five datasets from Kaggle. The primary objective is to create a centralized database using SQLite3 and perform initial analysis using SQL and Pandas. This project serves as a foundation for further investigation, uncovering valuable insights and patterns within the data.


# Objectives



1. Create a centralized database for heart disease-related data.
2. Conduct preliminary analysis using SQL and Pandas.
3. Identify potential areas for further investigation.
4. Develop a foundation for advanced analytics and machine learning applications.


## By Imtiaz Ali Mathematician,Statistician & Data Scientist

In [2]:
import pandas as pd
import sqlite3

In [3]:
# Load data from CSV files
data1 = pd.read_csv('heart_data1.csv')
data2 = pd.read_csv('heart_data2.csv')
data3 = pd.read_csv('heart_data3.csv')
data4 = pd.read_csv('heart_data4.csv')
data5 = pd.read_csv('heart_data5.csv')

# Database Creation

In [3]:
# Create a SQLite database connection
conn = sqlite3.connect('heart_patient_db.db')
cursor = conn.cursor()

# Creating Tables(Schemas)

In [5]:
# Create table for Dataset 1: Heart Disease
cursor.execute('''
    CREATE TABLE IF NOT EXISTS heart_disease (
        Age INTEGER,
        Sex TEXT,
        ChestPainType TEXT,
        RestingBP INTEGER,
        Cholesterol INTEGER,
        FastingBS INTEGER,
        RestingECG TEXT,
        MaxHR INTEGER,
        ExerciseAngina TEXT,
        Oldpeak REAL,
        ST_Slope TEXT,
        HeartDisease TEXT,
        caa TEXT,
        thall TEXT
    )
''')

In [6]:
# Insert data into table
data1.to_sql('heart_disease', conn, if_exists='replace', index=False)

918

In [7]:
# Create table for Dataset 2: Heart Failure
cursor.execute('''
    CREATE TABLE IF NOT EXISTS heart_failure (
        age INTEGER,
        anaemia INTEGER,
        creatinine_phosphokinase INTEGER,
        diabetes INTEGER,
        ejection_fraction REAL,
        high_blood_pressure INTEGER,
        platelets REAL,
        serum_creatinine REAL,
        serum_sodium INTEGER,
        sex TEXT,
        smoking INTEGER,
        time INTEGER,
        DEATH_EVENT INTEGER
    )
''')

In [8]:
# Insert data into table
data2.to_sql('heart_failure', conn, if_exists='replace', index=False)

303

In [9]:
# Create table for Dataset 3: Cardiovascular Disease
cursor.execute('''
    CREATE TABLE IF NOT EXISTS cardiovascular_disease (
        Age INTEGER,
        Sex TEXT,
        ChestPainType TEXT,
        BP INTEGER,
        Cholesterol INTEGER,
        FBS_over_120 INTEGER,
        EKG_results TEXT,
        MaxHR INTEGER,
        ExerciseAngina TEXT,
        ST_depression REAL,
        Slope_of_ST TEXT,
        Number_of_vessels_fluro INTEGER,
        Thallium TEXT,
        HeartDisease TEXT
    )
''')

In [10]:
# Insert data into table
data3.to_sql('cardiovascular_disease', conn, if_exists='replace', index=False)

299

In [11]:
# Create table for Dataset 4: Health Survey
cursor.execute('''
    CREATE TABLE IF NOT EXISTS health_survey (
        HeartDisease TEXT,
        BMI REAL,
        Smoking INTEGER,
        AlcoholDrinking INTEGER,
        Stroke INTEGER,
        PhysicalHealth REAL,
        MentalHealth REAL,
        DiffWalking TEXT,
        Sex TEXT,
        AgeCategory TEXT,
        Race TEXT,
        Diabetic INTEGER
    )
''')

In [12]:
# Insert data into table
data4.to_sql('health_survey', conn, if_exists='replace', index=False)

270

In [13]:
# Create table for Dataset 5: Health and Wellness
cursor.execute('''
    CREATE TABLE IF NOT EXISTS health_and_wellness (
        PhysicalActivity TEXT,
        GenHealth TEXT,
        SleepTime REAL,
        Asthma INTEGER,
        KidneyDisease INTEGER,
        SkinCancer INTEGER,
        Sex TEXT,
        Age INTEGER,
        BMI REAL,
        Smoking INTEGER,
        AlcoholDrinking INTEGER
    )
''')

In [14]:
# Insert data into table
data5.to_sql('health_and_wellness', conn, if_exists='replace', index=False)

319795

In [15]:
# Commit changes and close connection
conn.commit()
conn.close()

In [4]:
# Re-establish connection
conn = sqlite3.connect('heart_patient_db.db')
cursor = conn.cursor()

# showing tables

In [29]:
conn = sqlite3.connect('heart_patient_db.db')
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
print(tables)

                     name
0           heart_disease
1           heart_failure
2  cardiovascular_disease
3           health_survey
4     health_and_wellness

# Display of tables by SQLite Query

In [30]:
import sqlite3

conn = sqlite3.connect('heart_patient_db.db')
cursor = conn.cursor()

tables = ['heart_disease', 'heart_failure', 'cardiovascular_disease', 'health_survey', 'health_and_wellness']

for table in tables:
    cursor.execute(f"SELECT * FROM {table} LIMIT 5")
    records = cursor.fetchall()
    print(f"Table: {table}")
    for record in records:
        print(record)
    print("\n")

Table: heart_disease
(40, 'M', 'ATA', 140, 289, 0, 'Normal', 172, 'N', 0.0, 'Up', 0)
(49, 'F', 'NAP', 160, 180, 0, 'Normal', 156, 'N', 1.0, 'Flat', 1)
(37, 'M', 'ATA', 130, 283, 0, 'ST', 98, 'N', 0.0, 'Up', 0)
(48, 'F', 'ASY', 138, 214, 0, 'Normal', 108, 'Y', 1.5, 'Flat', 1)
(54, 'M', 'NAP', 150, 195, 0, 'Normal', 122, 'N', 0.0, 'Up', 0)


Table: heart_failure
(63, 1, 3, 145, 233, 1, 0, 150, 0, 2.3, 0, 0, 1, 1)
(37, 1, 2, 130, 250, 0, 1, 187, 0, 3.5, 0, 0, 2, 1)
(41, 0, 1, 130, 204, 0, 0, 172, 0, 1.4, 2, 0, 2, 1)
(56, 1, 1, 120, 236, 0, 1, 178, 0, 0.8, 2, 0, 2, 1)
(57, 0, 0, 120, 354, 0, 1, 163, 1, 0.6, 2, 0, 2, 1)


Table: cardiovascular_disease
(75.0, 0, 582, 0, 20, 1, 265000.0, 1.9, 130, 1, 0, 4, 1)
(55.0, 0, 7861, 0, 38, 0, 263358.03, 1.1, 136, 1, 0, 6, 1)
(65.0, 0, 146, 0, 20, 0, 162000.0, 1.3, 129, 1, 1, 7, 1)
(50.0, 1, 111, 0, 20, 0, 210000.0, 1.9, 137, 1, 0, 7, 1)
(65.0, 1, 160, 1, 20, 0, 327000.0, 2.7, 116, 0, 0, 8, 1)


Table: health_survey
(70, 1, 4, 130, 322, 0, 2, 109, 0, 2.4, 2, 3, 3, 'Presence')
(67, 0, 3, 115, 564, 0, 2, 160, 0, 1.6, 2, 0, 7, 'Absence')
(57, 1, 2, 124, 261, 0, 0, 141, 0, 0.3, 1, 0, 7, 'Presence')
(64, 1, 4, 128, 263, 0, 0, 105, 1, 0.2, 2, 1, 7, 'Absence')
(74, 0, 2, 120, 269, 0, 2, 121, 1, 0.2, 1, 1, 3, 'Absence')


Table: health_and_wellness
('No', 16.6, 'Yes', 'No', 'No', 3.0, 30.0, 'No', 'Female', '55-59', 'White', 'Yes', 'Yes', 'Very good', 5.0, 'Yes', 'No', 'Yes')
('No', 20.34, 'No', 'No', 'Yes', 0.0, 0.0, 'No', 'Female', '80 or older', 'White', 'No', 'Yes', 'Very good', 7.0, 'No', 'No', 'No')
('No', 26.58, 'Yes', 'No', 'No', 20.0, 30.0, 'No', 'Male', '65-69', 'White', 'Yes', 'Yes', 'Fair', 8.0, 'Yes', 'No', 'No')
('No', 24.21, 'No', 'No', 'No', 0.0, 0.0, 'No', 'Female', '75-79', 'White', 'No', 'No', 'Good', 6.0, 'No', 'No', 'Yes')
('No', 23.71, 'No', 'No', 'No', 28.0, 0.0, 'Yes', 'Female', '40-44', 'White', 'No', 'Yes', 'Very good', 8.0, 'No', 'No', 'No')

# Display of Tables by Pandas Library

In [31]:
tables = ['heart_disease', 'heart_failure', 'cardiovascular_disease', 'health_survey', 'health_and_wellness']

for table in tables:
    df = pd.read_sql_query(f"SELECT * FROM {table} LIMIT 5", conn)
    print(f"Table: {table}")
    print(df)
    print("\n")

Table: heart_disease
   Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  MaxHR  \
0   40   M           ATA        140          289          0     Normal    172
1   49   F           NAP        160          180          0     Normal    156
2   37   M           ATA        130          283          0         ST     98
3   48   F           ASY        138          214          0     Normal    108
4   54   M           NAP        150          195          0     Normal    122

  ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0              N      0.0       Up             0
1              N      1.0     Flat             1
2              N      0.0       Up             0
3              Y      1.5     Flat             1
4              N      0.0       Up             0


Table: heart_failure
   age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
0   63    1   3     145   233    1        0       150     0      2.3    0
1   37    1   2     130   250    0        1       187     0      3.5    0
2   41    0   1     130   204    0        0       172     0      1.4    2
3   56    1   1     120   236    0        1       178     0      0.8    2
4   57    0   0     120   354    0        1       163     1      0.6    2

   caa  thall  output
0    0      1       1
1    0      2       1
2    0      2       1
3    0      2       1
4    0      2       1


Table: cardiovascular_disease
    age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0  75.0        0                       582         0                 20
1  55.0        0                      7861         0                 38
2  65.0        0                       146         0                 20
3  50.0        1                       111         0                 20
4  65.0        1                       160         1                 20

   high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                    1  265000.00               1.9           130    1
1                    0  263358.03               1.1           136    1
2                    0  162000.00               1.3           129    1
3                    0  210000.00               1.9           137    1
4                    0  327000.00               2.7           116    0

   smoking  time  DEATH_EVENT
0        0     4            1
1        0     6            1
2        1     7            1
3        0     7            1
4        0     8            1


Table: health_survey
   Age  Sex  Chest pain type   BP  Cholesterol  FBS over 120  EKG results  \
0   70    1                4  130          322             0            2
1   67    0                3  115          564             0            2
2   57    1                2  124          261             0            0
3   64    1                4  128          263             0            0
4   74    0                2  120          269             0            2

   Max HR  Exercise angina  ST depression  Slope of ST  \
0     109                0            2.4            2
1     160                0            1.6            2
2     141                0            0.3            1
3     105                1            0.2            2
4     121                1            0.2            1

   Number of vessels fluro  Thallium Heart Disease
0                        3         3      Presence
1                        0         7       Absence
2                        0         7      Presence
3                        1         7       Absence
4                        1         3       Absence


Table: health_and_wellness
  HeartDisease    BMI Smoking AlcoholDrinking Stroke  PhysicalHealth  \
0           No  16.60     Yes              No     No             3.0
1           No  20.34      No              No    Yes             0.0
2           No  26.58     Yes              No     No            20.0
3           No  24.21      No              No     No             0.0
4           No  23.71      No              No     No            28.0

   MentalHealth DiffWalking     Sex  AgeCategory   Race Diabetic  \
0          30.0          No  Female        55-59  White      Yes
1           0.0          No  Female  80 or older  White       No
2          30.0          No    Male        65-69  White      Yes
3           0.0          No  Female        75-79  White       No
4           0.0         Yes  Female        40-44  White       No

  PhysicalActivity  GenHealth  SleepTime Asthma KidneyDisease SkinCancer
0              Yes  Very good        5.0    Yes            No        Yes
1              Yes  Very good        7.0     No            No         No
2              Yes       Fair        8.0    Yes            No         No
3               No       Good        6.0     No            No        Yes
4              Yes  Very good        8.0     No            No         No

# Data Analysis

## Count Patients by Heart Disease Diagnosis
Count the number of patients diagnosed with heart disease in each table.

In [37]:
# Count patients with heart disease in 'heart_disease' table
query = "SELECT COUNT(*) FROM heart_disease WHERE HeartDisease = 1;"
heart_disease_count = pd.read_sql(query, conn)
print("Patients with Heart Disease in heart_disease table :", heart_disease_count.iloc[0,0])

Patients with Heart Disease in heart_disease table : 481

In [38]:
# Repeat similar queries for other tables
query = "SELECT COUNT(*) FROM cardiovascular_disease WHERE DEATH_EVENT = 1;"
cvd_count = pd.read_sql(query, conn)
print("Patients with Cardiovascular Death in cardiovascular_disease table:", cvd_count.iloc[0,0])

Patients with Cardiovascular Death in cardiovascular_disease table: 96

## Aggregating Data: Average Cholesterol Levels by Gender
Find the average cholesterol levels for males and females in different datasets.

In [5]:
# Average Cholesterol by Sex in 'heart_disease' table
query = """
SELECT Sex, AVG(Cholesterol) as avg_cholesterol
FROM heart_disease
GROUP BY Sex;
"""
pd.read_sql(query, conn)

  Sex  avg_cholesterol
0   F       238.989418
1   M       188.300292

## Compare Resting Blood Pressure between Tables
Compare average resting blood pressure from heart_disease and heart_failure tables.

In [6]:
# Average RestingBP from 'heart_disease' table
query = "SELECT AVG(RestingBP) AS avg_resting_bp FROM heart_disease;"
heart_disease_bp = pd.read_sql(query, conn)

# Average trtbps (RestingBP) from 'heart_failure' table
query = "SELECT AVG(trtbps) AS avg_resting_bp FROM heart_failure;"
heart_failure_bp = pd.read_sql(query, conn)

print("Average Resting BP in 'heart_disease':", heart_disease_bp.iloc[0,0])
print("Average Resting BP in 'heart_failure':", heart_failure_bp.iloc[0,0])

Average Resting BP in 'heart_disease': 132.45828571428572
Average Resting BP in 'heart_failure': 131.62376237623764

## Find High-Risk Patients
Find patients with maximum heart rate (MaxHR) below a threshold and with angina, which indicates higher risk.

In [7]:
# High-risk patients based on MaxHR and ExerciseAngina from 'heart_disease'
query = """
SELECT *
FROM heart_disease
WHERE MaxHR < 100 AND ExerciseAngina = 'Y';
"""
high_risk_patients = pd.read_sql(query, conn)
print(high_risk_patients)

    Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0    58   M           ATA        136          164          0         ST
1    65   M           ASY        140          306          1     Normal
2    47   F           ASY        120          205          0     Normal
3    52   M           ASY        112          342          0         ST
4    52   M           ASY        160          246          0         ST
5    66   M           ASY        140          139          0     Normal
6    48   M           ASY        160          329          0     Normal
7    57   M           ASY        150          255          0     Normal
8    52   M           ASY        160          331          0     Normal
9    49   M           ASY        128          212          0     Normal
10   47   M           ASY        150          226          0     Normal
11   48   M           ASY        160          355          0     Normal
12   54   M           ASY        130          242          0     Normal
13   65   M           ASY        115            0          0     Normal
14   52   M           ASY         95            0          1     Normal
15   62   M           NAP        160            0          0     Normal
16   63   M           ASY        150            0          0     Normal
17   60   M           ASY        135            0          0     Normal
18   63   M           ASY        185            0          0     Normal
19   60   M           ASY        160            0          0         ST
20   42   M           ASY        145            0          0     Normal
21   70   M           ASY        115            0          0         ST
22   57   M           ASY        160            0          1     Normal
23   66   M           NAP        110          213          1        LVH
24   63   M           ASY        170          177          0     Normal
25   61   M           NAP        120            0          0     Normal
26   63   M           ASY        136            0          0     Normal
27   62   M           ASY        152          153          0         ST
28   40   M           NAP        106          240          0     Normal
29   63   M           ASY        160          267          1         ST
30   69   M           ASY        122          216          1        LVH
31   57   M           ASY        130          207          0         ST
32   61   M           NAP        120          337          0     Normal
33   62   M           ATA        120          254          0        LVH
34   57   M           ASY        152          274          0     Normal
35   62   M           ASY        120          267          0     Normal
36   64   M           ASY        120          246          0        LVH
37   53   M           ASY        123          282          0     Normal

    MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      99              Y      2.0     Flat             1
1      87              Y      1.5     Flat             1
2      98              Y      2.0     Flat             1
3      96              Y      1.0     Flat             1
4      82              Y      4.0     Flat             1
5      94              Y      1.0     Flat             1
6      92              Y      1.5     Flat             1
7      92              Y      3.0     Flat             1
8      94              Y      2.5     Flat             1
9      96              Y      0.0     Flat             1
10     98              Y      1.5     Flat             1
11     99              Y      2.0     Flat             1
12     91              Y      1.0     Flat             1
13     93              Y      0.0     Flat             1
14     82              Y      0.8     Flat             1
15     72              Y      0.0     Flat             1
16     86              Y      2.0     Flat             1
17     63              Y      0.5       Up             1
18     98              Y      0.0       Up             1
19     99              Y      0.5     Flat             1
20     99              Y      0.0     Flat             1
21     92              Y      0.0     Flat             1
22     98              Y      2.0     Flat             1
23     99              Y      1.3     Flat             0
24     84              Y      2.5     Down             1
25     80              Y      0.0     Flat             1
26     84              Y      0.0     Flat             1
27     97              Y      1.6       Up             1
28     80              Y      0.0       Up             0
29     88              Y      2.0     Flat             1
30     84              Y      0.0     Flat             1
31     96              Y      1.0     Flat             0
32     98              Y      0.0     Flat             1
33     93              Y      0.0     Flat             1
34     88              Y      1.2     Flat             1
35     99              Y      1.8     Flat             1
36     96              Y      2.2     Down             1
37     95              Y      2.0     Flat             1

## Analyze Health Factors Correlated with Mental Health
Explore relationships between mental health and physical conditions in the health_and_wellness table.

In [8]:
# Analyzing correlations between MentalHealth and physical health factors in 'health_and_wellness'
query = """
SELECT MentalHealth, PhysicalHealth, SleepTime, AlcoholDrinking, Stroke
FROM health_and_wellness
WHERE MentalHealth > 10;  -- focusing on individuals with high mental health issues
"""
mental_health_analysis = pd.read_sql(query, conn)
print(mental_health_analysis)

       MentalHealth  PhysicalHealth  SleepTime AlcoholDrinking Stroke
0              30.0             3.0        5.0              No     No
1              30.0            20.0        8.0              No     No
2              30.0             0.0        5.0              No     No
3              30.0             0.0        8.0              No     No
4              15.0             0.0        6.0              No     No
...             ...             ...        ...             ...    ...
39761          15.0            30.0        6.0             Yes     No
39762          30.0             0.0        4.0              No     No
39763          30.0            30.0        8.0              No     No
39764          15.0            30.0        6.0              No    Yes
39765          30.0            30.0        4.0              No     No

[39766 rows x 5 columns]

## Join Operations: Combining Data from Multiple Tables
Combine data from heart_disease and heart_failure tables based on similar attributes.ed_data)

In [10]:
# Inner Join on common attributes such as Age and Sex
query = """
    SELECT hd.Age, hd.Sex, hd.ChestPainType, hf.cp AS ChestPainType_HeartFailure, hf.trtbps, hf.chol
    FROM heart_disease hd
    LEFT JOIN heart_failure hf
    ON hd.Age = hf.age AND hd.Sex = hf.sex;
"""
combined_data = pd.read_sql(query, conn)
print(combined_data)

     Age Sex ChestPainType ChestPainType_HeartFailure trtbps  chol
0     40   M           ATA                       None   None  None
1     49   F           NAP                       None   None  None
2     37   M           ATA                       None   None  None
3     48   F           ASY                       None   None  None
4     54   M           NAP                       None   None  None
..   ...  ..           ...                        ...    ...   ...
870   45   M           ASY                       None   None  None
871   70   F           NAP                       None   None  None
872   50   M           NAP                       None   None  None
873   67   F           ASY                       None   None  None
874   49   M           ATA                       None   None  None

[875 rows x 6 columns]

# # Exporting the high-risk patients query result to CSV
high_risk_patients.to_csv('high_risk_patients.csv', index=False)

In [12]:
# Exporting the high-risk patients query result to CSV
high_risk_patients.to_csv('high_risk_patients.csv', index=False)
print ("high_risk_patients.csv is ready in home page")

high_risk_patients.csv is ready in home page

## Inserting Data with SQL INSERT Statements
For each table, we’ll add a few more sample records. Here's how to do it with SQL commands.

In [37]:
# Insert records into the heart_disease table
cursor.execute('''
    INSERT INTO heart_disease 
    (Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease) 
    VALUES 
    (60, 'F', 'ATA', 130, 220, 1, 'Normal', 140, 'N', 1.0, 'Flat', 0),
    (45, 'M', 'ASY', 120, 240, 0, 'ST', 160, 'Y', 2.5, 'Up', 1),
    (70, 'F', 'NAP', 140, 280, 1, 'LVH', 110, 'N', 1.8, 'Flat', 1)
''')
conn.commit()
print("Records inserted successfully into heart_disease table")

Records inserted successfully into heart_disease table

##  basic statistics

In [27]:
#  of the heart_disease table (age, cholesterol, RestingBP)
query1 = '''
    SELECT 
        AVG(Age) AS avg_age, 
        AVG(Cholesterol) AS avg_cholesterol, 
        AVG(RestingBP) AS avg_restingBP 
    FROM heart_disease
'''
heart_disease_stats = pd.read_sql_query(query1, conn)
print(heart_disease_stats)

     avg_age  avg_cholesterol  avg_restingBP
0  53.510893       198.799564     132.396514

##  the distribution

In [28]:
#  of heart disease cases (HeartDisease)
query2 = '''
    SELECT HeartDisease, COUNT(*) AS count
    FROM heart_disease
    GROUP BY HeartDisease
'''
heart_disease_distribution = pd.read_sql_query(query2, conn)
print(heart_disease_distribution)

   HeartDisease  count
0             0    410
1             1    508

## Count

In [29]:
#  of different types of chest pain in the dataset
query3 = '''
    SELECT ChestPainType, COUNT(*) AS count
    FROM heart_disease
    GROUP BY ChestPainType
'''
chest_pain_distribution = pd.read_sql_query(query3, conn)
print(chest_pain_distribution)

  ChestPainType  count
0           ASY    496
1           ATA    173
2           NAP    203
3            TA     46

## Checking correlation

In [30]:
#  Checking correlation between MaxHR and HeartDisease
query4 = '''
    SELECT MaxHR, HeartDisease 
    FROM heart_disease
'''
maxhr_vs_heart_disease = pd.read_sql_query(query4, conn)
print(maxhr_vs_heart_disease.head())

   MaxHR  HeartDisease
0    172             0
1    156             1
2     98             0
3    108             1
4    122             0

## Delete query

In [ ]:

cursor.execute("DELETE FROM heart_disease WHERE Age = 55")
conn.commit()

## We can similar Queries in Pandas as well

In [10]:
# Execute the query
cursor.execute("SELECT * FROM heart_disease WHERE Age > 50")

# Fetch all rows
rows = cursor.fetchall()

# Get column names
columns = [description[0] for description in cursor.description]

# Create a Pandas DataFrame
df = pd.DataFrame(rows, columns=columns)

# Print the DataFrame
print(df)
# Close connection
conn.close()

     Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     54   M           NAP        150          195          0     Normal
1     54   M           ATA        110          208          0     Normal
2     58   M           ATA        136          164          0         ST
3     54   F           ATA        120          273          0     Normal
4     60   M           ASY        100          248          0     Normal
..   ...  ..           ...        ...          ...        ...        ...
553   57   M           ASY        130          131          0     Normal
554   57   F           ATA        130          236          0        LVH
555   60   F           ATA        130          220          1     Normal
556   70   F           NAP        140          280          1        LVH
557   67   F           ASY        140          300          1         ST

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      122              N      0.0       Up             0
1      142              N      0.0       Up             0
2       99              Y      2.0     Flat             1
3      150              N      1.5     Flat             0
4      125              N      1.0     Flat             1
..     ...            ...      ...      ...           ...
553    115              Y      1.2     Flat             1
554    174              N      0.0     Flat             1
555    140              N      1.0     Flat             0
556    110              N      1.8     Flat             1
557    100              Y      2.0     Flat             1

[558 rows x 12 columns]

## Inserting Data with Pandas
We can also use Pandas DataFrames to insert multiple records into the database if you have bulk data. Here's how:

In [37]:
import pandas as pd

# Sample Data for insertion
data = {
    'Age': [50, 67, 49],
    'Sex': ['M', 'F', 'M'],
    'ChestPainType': ['NAP', 'ASY', 'ATA'],
    'RestingBP': [130, 140, 120],
    'Cholesterol': [240, 300, 200],
    'FastingBS': [0, 1, 0],
    'RestingECG': ['Normal', 'ST', 'LVH'],
    'MaxHR': [150, 100, 160],
    'ExerciseAngina': ['N', 'Y', 'N'],
    'Oldpeak': [1.5, 2.0, 0.8],
    'ST_Slope': ['Up', 'Flat', 'Up'],
    'HeartDisease': [0, 1, 0]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Insert DataFrame into SQL table
df.to_sql('heart_disease', conn, if_exists='append', index=False)
print("Data inserted successfully using Pandas")

Data inserted successfully using Pandas

This SQL and Python project successfully integrated five Kaggle datasets into a unified database, performed queries, and identified suitability for machine learning.

## Machine Learning Model Implementation:

To further enhance predictive capabilities, this project laid the groundwork for applying machine learning algorithms. By joining same columns and selecting the optimal model, the database can now provide:


1. Accurate predictions on heart disease likelihood.
2. Identification of high-risk patient groups.
3. Insights into effective treatment and prevention strategies.

   #### work continues...